body, html {
    margin: 0;
    padding: 0;
  }
  
  .head {
    height: 100px;
    width: 100%;
  }
  
  .smallBox {
    height: 200px;
    width: 100%;
  }
  
  .textBox {
    background-color: #D8D8D8;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .bottom1 {
    width: 50px;
    height: 50px;
    background-color: #4A90E2;
  }
  
  .bottom2 {
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px;
  }
  
  .bottom3 {
    background-color: #4A90E2;
  }
  
  .bottom4 {
    background-color: #50E3C2;
  }
  
  .bottom5 {
    background-color: #B8E986;
  }
  
  .bottom6 {
    background-color: #F8E71C;
  }