body, html {
    margin: 0;
    padding: 0;
  }
  
  .topBox {
    height: 100px;
    width: 100%;
  }
  
  .textBox {
    height: 200px;
    width: 100%;
  }
  
  .smallBox {
    background-color: tan;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .bottom1 {
    width: 50px;
    height: 50px;
    background-color: lightblue;
  }
  
  
  .bottom1 {
    background-color: blue;
  }
  
  .bottom2 {
    background-color: lightgreen;
  }
  
  .bottom3 {
    background-color:lime;
  }
  
  .bottom4 {
    background-color: yellow;
  }